<a href="https://colab.research.google.com/github/armindocachada/python-for-beginners-lists/blob/master/Python_for_beginners_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**How to create Lists**

In [ ]:
list1=[1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [ ]:
list2=["one","two","three"]
print(list2)

['one', 'two', 'three']

In [ ]:
list3=["one",1,"two",2,"three",3]
print(list3)

['one', 1, 'two', 2, 'three', 3]

In [ ]:
list4=[["one","two","three","four"],[1,2,3,4,5]]
print(list4)

[['one', 'two', 'three', 'four'], [1, 2, 3, 4, 5]]

**How to access elements in a List**

In [ ]:
element = list3[0]
print(element)

one

In [ ]:
element= list3[5]
print(element)

3

In [ ]:
element=list3[-1]
print(element)

3

In [ ]:
element=list3[-2] 
print(element)

three

In [ ]:
element=list3[1:-1]
print(element)

[1, 'two', 2, 'three']

**How to replace Elements in A List**

In [ ]:
list1[0]="one"
print(list1)

['one', 2, 3, 4]

In [ ]:
list1[1:-1]=["two","three"]
print(list1)

['one', 'two', 'three', 4]

How to add Elements to a list

In [ ]:
list4.append("six")
print(list4)

[['one', 'two', 'three', 'four'], [1, 2, 3, 4, 5], 'six', 'six']

**How to remove elements from a list**

In [ ]:
list4.remove("six")
print(list4)

[['one', 'two', 'three', 'four'], [1, 2, 3, 4, 5], 'six']

In [ ]:
result=list4.pop(-1)
print(list4)
print(result)

[['one', 'two', 'three', 'four'], [1, 2, 3, 4, 5]]
six

How to get the number of elements in a list

In [ ]:
print(len(list4))

2

**How to iterate/Loop through a list**

In [ ]:
for item in list1:
  print(item)

one
two
three
4

In [ ]:
for i,item in enumerate(list1):
  print("index={} item={}".format(i,item))

index=0 item=one
index=1 item=two
index=2 item=three
index=3 item=4